<rule>
    <services>
        <service key="43">
            <name>cw</name>
            <activate>*43#</activate>
            <query>*#43#</query>
            <cancel>#43#</cancel>
            <param>ac_qr_deac</param>
        </service>
        <service key="21">
            <name>cfu</name>
            <activate>*21*TN#</activate>
            <query>*#21#</query>
            <cancel>#21#</cancel>
            <description>TN</description>
            <param>ac_qr_deac</param>
        </service>
        <service key="67">
            <name>cfb</name>
            <activate>*67*TN#</activate>
            <query>*#67#</query>
            <cancel>#67#</cancel>
            <description>TN</description>
            <param>ac_qr_deac</param>
        </service>
        <service key="61">
            <name>cfnr</name>
            <activate>*61*TN#</activate>
            <query>*#61#</query>
            <cancel>#61#</cancel>
            <description>TN</description>
            <param>ac_qr_deac</param>
        </service>
        <service key="62">
            <name>cfnrc</name>
            <activate>*62*TN#</activate>
            <query>*#62#</query>
            <cancel>#62#</cancel>
            <description>TN</description>
            <param>ac_qr_deac</param>
        </service>
        <service key="63">
            <name>cfnl</name>
            <activate>*63*TN#</activate>
            <query>*#63#</query>
            <cancel>#63#</cancel>
            <description>TN</description>
            <param>ac_qr_deac</param>
        </service>
        <service key="95">
            <name>conf3pty</name>
            <activate>*95*TN#</activate>
            <query>*#95#</query>
            <cancel>#95#</cancel>
            <param>ac_qr_deac</param>
        </service>
        <service key="99">
            <name>test</name>
            <activate>*99*TN*AB#</activate>
            <query>*#99#</query>
            <cancel>#99#</cancel>
            <description>TN AB</description>
            <param>a_q_d</param>
        </service>
    </services>

    <params>
        <param key="ac_qr_deac">
            <activate>active</activate>
            <query>query</query>
            <cancel>deactive</cancel>
        </param>
        <param key="a_q_d">
            <activate>a</activate>
            <query>q</query>
            <cancel>d</cancel>
        </param>
    </params>

</rule>
